.hero-blob{
     /* border-radius: 50%; */
    /* border: 5px solid #58a6ff; */
    height: auto;
    transition: all 0.5s;   
}
.hero-blob:hover{
     transform: scale(1.05);
    box-shadow: 0 0 30px #58a6ff;
    cursor: pointer;
}